header{
    text-align: center;
    padding: 20px;
    display:  
    flex-direction
    justify-content
    text-decoration none;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
a{
    color: red;
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
    text-transform: uppercase;
    margin-right: 15px;
    margin-left: px;
}
a:hover{
    background-color: gold;
}
body{
    background-image: url(th.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{    
    text-align: center;
    color: red;
}
nav{
    text-align: right;
    padding: 15px;
    text-transform: lowercase;
    text-decoration: none;
}
h2{
    color: blue;
    text-align: left;
    padding: 15px;
    font-size: 30px;
}
p{
    font-size: 20px;
    background-color: green;
    color: white;
}
ol{
    color: black;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
footer{
    font-size: 30px;
    text-align: center;
    color: green;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
